.root {
    -fx-background-color: white;
     -fx-font-family: "Droid Sans Mono Slashed";
    -fx-padding:3,30,3,30;

}
#button-karte{
    -fx-background-image: url("/data/Platzhalter.PNG");

}

#button-type{
    -fx-size: 20px;
}

.button{
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.text-field {
    -fx-font-size: 12px;
    -fx-boarder: gone;
    -fx-background-color: transparent, rgba(83, 172, 255, 0.44), transparent, rgba(83, 172, 255, 0.44);

    }

#search-button{
    -fx-background-color: transparent;

}

#label-id{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

/*Styling für StartUpChart*/
.start-up-control {
    -selection-color: #3c7fb1;
    -station-color: rgba(83, 172, 255, 0.44);
}

.start-up-control .legend-text {
    -fx-font-family: 'Nunito Regular';
    -fx-font-size: 9px;
    -fx-fill: #323232;
}

.start-up-control .tube-hole-pattern {
    -fx-fill: #F2F2F2;
}

.start-up-control .background {
    -fx-fill: #E1E1E1;
}

.start-up-control .station-pattern {
    -fx-fill: -station-color;
    -fx-border-radius: 5 5 5 5;
    -fx-arc-height: 5.0d;
    -fx-arc-width: 5.0d;
}

.start-up-control .selected-station-pattern {
    -fx-fill: -selection-color;
    -fx-border-radius: 5 5 5 5;
    -fx-arc-height: 5.0d;
    -fx-arc-width: 5.0d;
}

.start-up-control .fill-level-bar {
    -fx-fill: -station-color;
}

.start-up-control .selected-fill-level-bar {
    -fx-fill: -selection-color;
}
/*Styling für TypeSwitch*/
.toggleSwitch .button {
    -fx-arc-height: 50;
    -fx-arc-width : 50;
}

.toggleSwitch .bar {
    -fx-arc-height: 50;
    -fx-arc-width : 50;
}

.toggleSwitch .display {
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-font-weight: Bold;
    /*-fx-fill: slategray;*/
    -fx-font-size: 20pt;


}